<h2 id='feast-1-hdr' class=''>{{celebration.title}}</h2>
<div class='tags row pl-3 mb-1'>
  <div class='tag px-2 mr-1 mb-1 bg-complement-lightest d-inline-block rounded'><span class="font-weight-bold">Rank:</span> {{celebration.rank | titlecase}}, {{celebration.rank_num}}</div>
  <div class='tag px-2 mr-1 mb-1 bg-complement-lightest d-inline-block rounded'><span class="font-weight-bold">Color:</span> {{celebration.colour | titlecase}}</div>
</div><!-- /tags -->
<section class='content mb-3'>
  <div class='description overflow-auto mb-2'>
    <img class='img-fluid float-left mr-2' src='http://via.placeholder.com/250'>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie laoreet leo non cursus. Nam imperdiet
      sit amet
      libero ut convallis. In id libero ut diam finibus pretium id et diam. Integer laoreet porta mi quis
      ultricies. Nam
      sodales risus laoreet, varius enim pellentesque, cursus sapien. Vivamus ac varius arcu. In hac habitasse
      platea
      dictumst. Aenean hendrerit vel nisl ut malesuada. Suspendisse pellentesque viverra posuere.
    </p>
  </div>
  <section class='drinks px-2 bg-complement-lightest p-1 rounded'>
    <h3>Suggested beer, wine, and cocktails</h3>
    From Michael P. Foley's excellent <a href='https://www.amazon.com/Drinking-Saints-Sinners-Guide-Happy-ebook/dp/B00VPPYFA0/'>Drinking with the Saints</a>
    <ul class='drinks-list'>
      <li>Drink 1</li>
      <li>Drink 2</li>
    </ul>
  </section> <!-- /drinks -->
</section> <!-- /content -->
