<section>
  <!-- <h3>tests</h3>
  <ul>
    <li>year: {{year}}</li>
    <li>month: {{month}}</li>
    <li>day: {{day_of_month}}</li>
  </ul>
</section> -->
<article class='feast py-3 container' aria-labelledby="feast-1-hdr">
  <div class='row'>
    <div class='col-2 col-left bg-complement-lightest rounded text-right pt-1'>
      <div>{{month}} {{day_of_month}}</div>
    </div><!-- /col-left -->
    <div class='col-10 col-right'>
      <h2 id='feast-1-hdr' class=''>Feast of the Lesser Unencumbered Saints of Greater Swaziland</h2>
      <div class='tags row pl-3 mb-1'>
        <div class='tag px-2 mr-1 mb-1 bg-complement-lightest d-inline-block rounded'>Feast</div>
        <div class='tag px-2 mr-1 mb-1 bg-complement-lightest d-inline-block rounded'>Memorial</div>
      </div><!-- /tags -->
      <section class='content'>
        <div class='description overflow-auto mb-2'>
          <img class='img-fluid float-left mr-2' src='http://via.placeholder.com/250'>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie laoreet leo non cursus. Nam imperdiet
            sit amet
            libero ut convallis. In id libero ut diam finibus pretium id et diam. Integer laoreet porta mi quis
            ultricies. Nam
            sodales risus laoreet, varius enim pellentesque, cursus sapien. Vivamus ac varius arcu. In hac habitasse
            platea
            dictumst. Aenean hendrerit vel nisl ut malesuada. Suspendisse pellentesque viverra posuere.
          </p>
        </div>
        <section class='drinks px-2 bg-complement-lightest p-1 rounded'>
          <h3>Suggested beer, wine, and cocktails</h3>
          <ul class='drinks-list'>
            <li>Swazi Rice Wine</li>
            <li>Rum Shandy</li>
          </ul>
        </section> <!-- /drinks -->
      </section> <!-- /content -->
    </div><!-- /col-right  -->
  </div> <!-- /row  -->
</article><!-- /feast  -->
