<header class='main-header container' aria-labelledby="site-title">
  <h1 id='site-title' class='font-display d-md-none text-center py-3 rounded mx-n3'>My Holy Days</h1>
  <div class='row align-items-center'>
    <div class='col-2 text-center px-0'>
      <img id='logo' alt='Site logo' class='img-fluid' src='http://via.placeholder.com/75x125?text=Logo'>
    </div>
    <nav class='col-10 container pr-0'>
      <div class='mx-0 row'>
        <h1 id='site-title' class='font-display vcenter-text mr-3 d-none d-md-block text-center pt-3 col rounded'>My
          Holy Days</h1>
        <div class='hdr-btns col row flex-column justify-content-md-around pl-2'>
          <button routerLink='/my-holy-days' class='py-2 mb-1 btn btn-primary-lighter text-dark font-weight-bold' type='button'>List My Holy
            Days</button>
          <button routerLink='/search' class='py-2 mb-1 btn btn-primary-lighter text-dark font-weight-bold' type='button' data-toggle="modal"
            data-target="#add-holy-day-modal">Search Days</button>
          <button routerLink='/today' class='py-2 mb-1 btn btn-primary-lighter font-weight-bold' type='button'>Today</button>
        </div>
      </div>
    </nav>
  </div><!-- /row -->
</header><!-- /main-header -->